/******************************
/* Body styles 
/******************************/
body {
	background: #fff;
	color: #222222;
	font-family: "Droid Serif", Georgia, Times, serif;
	font-size: 15px;
}
a {
	text-decoration: underline;
	color: #444;
}
a:hover {
	text-decoration: none;
}
#wrapper {
	width: 660px;
	margin: 0 auto;
	padding: 0;
}
.clear {
	clear: both;
	float: none;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/******************************
/* Header 
/******************************/
#masterhead {
	background: #444;
	color: #fff;
	padding: 30px;
	margin: 0 0 20px 0; 
}
#masterhead nav {
	margin: 18px 0 0 0;
	text-align: right;
	float: right;
}
#masterhead nav a {
color: #fff;
font-style italic;
}
#header {
	text-align: left;
	font-size: 42px;
	float: left;
	width: 100px;
	margin: 0;
}
#header a {
	text-decoration: none;
	color: #fff;
}
#header a:hover {
	text-decoration: underline;
}

/******************************
/* Post styling
/******************************/

.post {
	margin: 40px 0;
	padding: 0 0 30px 0;
	
	line-height: 1.5em;
	border-bottom: 5px solid #eee;
}
.single {
	padding: 0;
}
.post header {}
.post header h2 {
	margin: 5px 0;
	font-weight: bold;
}
.post header h2 a {
	text-decoration: none;
	color: #222222;
	border-bottom: none;
	font-size: 32px;
	font-weight: 200;
}
.post header h2 a:hover {
	border-bottom: none;
}
.post header .date {
	color: gray;
	font-style: italic;
}
.post blockquote {
	background: #D4D4D4;
	color: #000;

	font-style: italic;
	text-shadow: 1px 1px 1px #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	margin: 20px;
	padding: 20px 30px;
}
.post a {
	border-bottom: 1px dotted #b5190e;
	color: #b5190e;
	text-decoration: none;
}
.post a:hover {
	border-bottom: 1px solid #b5190e;
}
.post pre {
	padding: 10px 40px;
	margin: 20px;
	background: #eee;
	border-left: 5px solid #a3a3a3;
	color: #000;
}

/******************************
/* Related posts
/******************************/

#related-posts {
	margin-bottom: 10px;
}

/******************************
/* Archive
/******************************/

.posts {
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts a {
	text-decoration: none;
}
.posts a:hover {
	text-decoration: underline;
}
.posts .date {
	color: gray;
}

/******************************
/* Footer 
/******************************/

#footer {
	font-size: 13px;
	margin: 20px 0 0 0;
	padding: 12px 0 12px 0;
	border-top: 3px solid #eee;
	line-height: 1.5em;
}
#footer .grid {
	width: 50%;
	float: left;
}
#footer .right {
	text-align: right;
}
#footer a {}
