/******************************
/* Body styles 
/******************************/
body {
	background: #fff;
	color: #222222;
	font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
a {
	text-decoration: underline;
	color: #444;
}
a:hover {
	text-decoration: none;
}
#wrapper {
	width: 650px;
	margin: 0 auto;
	padding: 10px 0;
}
.clear {
	clear: both;
	float: none;
}

/*h1, h2, h3, h4, h5, h6 { font-weight: normal; }*/
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/******************************
/* Header 
/******************************/
#masterhead {
	background: #444;
	color: #fff;
	padding: 30px;
	font-family: Georgia;
}
#header {
	text-align: left;
	font-size: 42px;
	margin: 0;
}
#header a {
	text-decoration: none;
	color: #fff;
}
#header a:hover {
	text-decoration: underline;
}

/******************************
/* Post styling
/******************************/

.post {
	margin: 40px 0;
	padding: 0 0 30px 0;
	
	line-height: 1.5em;
	border-bottom: 5px solid #eee;
}
.single {
	padding: 0;
}
.post header {
font-family: Georgia;
}
.post header h2 {
	margin: 5px 0;
}
.post header h2 a {
	text-decoration: none;
	color: #444;
	border-bottom: none;
	font-size: 32px;
	font-weight: 200;
}
.post header h2 a:hover {
	border-bottom: none;
}
.post header .date {
	color: gray;
	font-style: italic;
}
.post blockquote {
	background: #D4D4D4;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	margin: 20px;
	padding: 20px 30px;
	font-style: italic;
}
.post a {
	border-bottom: 1px dotted #b5190e;
	color: #b5190e;
	text-decoration: none;
}
.post a:hover {
 border-bottom: 1px solid #b5190e;
}
.post pre code {
	padding: 0 40px;
}


/*#post {}
#post p {
	line-height: 1.8em;
}
h2#post-title {
	font-size: 30px;
	font-family: Georgia;
	font-style: normal;
	margin: 30px 0 5px 0;
}
#entry-title {
	border-bottom: 3px solid #eee;
	padding: 5px 0;
}
#entry-date {
	color: gray;
}
#post code {
	border: 1px solid #ddd;
    background: #eef;
	width: 100%;
    font-size: 14px;
	font-family: Monospace;
    padding: 0 .2em;
}
#post pre code {
	border: none;
	width: 100%;
}*/

/******************************
/* Frontpage and related posts 
/******************************/
/*.posts {
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts a {
	text-decoration: none;
}
.posts a:hover {
	text-decoration: underline;
}
.posts .date {
	color: gray;
}*/

#related-posts {
	margin-bottom: 10px;
}

/******************************
/* Footer 
/******************************/
#footer {
	font-size: 12px;
	margin: 12px 0 0 0;
	padding: 12px 0 12px 0;
	border-top: 3px solid #eee;
	line-height: 1.5em;
}
#footer .grid {
	width: 50%;
	float: left;
}
#footer .right {
	text-align: right;
}
#footer a {}