---
layout: layout
---

<div class="content">
	<article class="post single">
  		<header>
  			<h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
  			<span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
  		</header>
		
    	{{ content }}
		
		<p><iframe src='http://anonymousads.com/a/1PVm54m8gJpA1yFVws7WijT88br4uyTiTk' scrolling='no' style='width:468px; height:60px; border:0px; padding:5pt'></iframe></p>

  	</article>

	<p id="related-posts">
		<h3>Related Posts</h3>
	  	{% for related in site.related_posts limit:5 %}
		<ul>
			<li><a href="{{ related.url }}/">
	          {{ related.title }}
			</a></li>
		</ul>
	  {% endfor %}
	</p>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    var disqus_shortname = 'm8ck';(function(){var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
